.wrapper {
	display: flex;

	main {
		flex: 1;
	}
}

@media screen and (max-width: 1200px) {
  .wrapper {
    display: block;
    padding-bottom: 26vh;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-bottom: 21vh;
  }
}