.wrapper {
	display: flex;

  &::webkit-scrollbar {
    width: 0.25rem;
  }

  &::webkit-scrollbar-track {
    background: var(--gray-800);
  }

  &::webkit-scrollbar-thumb {
    background: var(--gray-500);
  }

	main {
		flex: 1;
	}
}

@media screen and (max-width: 1200px) {
  .wrapper {
    display: block;
    padding-bottom: 26vh;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-bottom: 21vh;
  }
}