.homepage {
  padding: 0 4rem;
  height: calc(100vh-6.5rem);
  overflow-y: scroll;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;   
  }

}

.latestEpisodes {
  ul { 
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

  }

  li {
    background: var(--white);
    border: 1px solid var(--gray-100);
    padding: 1.25rem;
    border-radius: 1.5rem;
    
    position: relative;

    display: flex;
    align-items: center
  }
}